// Colors
$primaryColor: #fd6c40;
$black: #000;

// Fonts
$unboundedExtraBold: 'UnboundedExtraBold';
$unboundedBold: 'UnboundedBold';
$unboundedRegular: 'UnboundedRegular';
$unboundedLight: 'UnboundedLight';
$unboundedExtraLight: 'UnboundedExtraLight';
$soyuzGrotesk: 'SoyuzGrotesk';

// Transitions
$defaultTransitionDuration: 0.2s;

// Resolutions
$desktop: 1280px;
$tablet: 720px;
